@use './colors' as colors;

.my-bg-no-repeat {
  background-repeat: no-repeat !important;
}

.my-bg-position-center {
  background-position: center !important;
}

.my-bg-size-cover {
  background-size: cover !important;
}

.my-bg-f39c12 {
  background-color: colors.$primary-color !important;
}

.my-bg-2ecc71 {
  background-color: colors.$green-color !important;
}