@use './colors' as colors;

$background-color: (
  'f39c12': colors.$primary-color,
  '2ecc71': colors.$green-color,
  'white': colors.$white-color,
  'black': colors.$black-color,
  'gray': colors.$gray-color,
  'eb2f06': colors.$primary-sale-color,
  'ecf0f1': colors.$layout-color,
  'transparent': transparent,
);

@each $name, $color in $background-color {
  .ps-bg-#{$name} {
    background-color: $color !important;
  }
}

.ps-bg-no-repeat {
  background-repeat: no-repeat !important;
}

.ps-bg-position-center {
  background-position: center !important;
}

.ps-bg-size-cover {
  background-size: cover !important;
}
