@use './colors' as colors;

.ps-bg-no-repeat {
  background-repeat: no-repeat !important;
}

.ps-bg-position-center {
  background-position: center !important;
}

.ps-bg-size-cover {
  background-size: cover !important;
}

.ps-bg-f39c12 {
  background-color: colors.$primary-color !important;
}

.ps-bg-2ecc71 {
  background-color: colors.$green-color !important;
}

.ps-bg-white {
  background-color: colors.$white-color !important;
}
