@use './colors' as colors;
$border-style: 'dashed', 'solid';

@for $i from 1 through 5 {
  .ps-border-width-#{$i} {
    border-width: #{$i}px !important;
  }
}

@for $i from 3 through 50 {
  .ps-border-radius-#{$i} {
    border-radius: #{$i}px !important;
  }
}

@for $i from 1 through 100 {
  .ps-border-radius-pc-#{$i} {
    border-radius: #{$i}+'%' !important;
  }
}

.ps-border-color-gray {
  border-color: colors.$gray-color !important;
}

.ps-border-color-hover-00a8ff:hover {
  border-color: colors.$menu-item-active-color !important;
}

@each $value in $border-style {
  .ps-border-style-#{$value} {
    border-style: #{$value} !important;
  }
}

.ps-border-none {
  border: none !important;
}

.ps-outline-none {
  outline: none !important;
}
