@use './colors' as colors;
$border-style: 'dashed', 'solid';
$border-colors: (
  'gray': colors.$gray-color,
  'f39c12': colors.$primary-color,
  '00a8ff': colors.$menu-item-active-color,
);

@for $i from 1 through 5 {
  .ps-border-width-#{$i} {
    border-width: #{$i}px !important;
  }
}

@for $i from 3 through 50 {
  .ps-border-radius-#{$i} {
    border-radius: #{$i}px !important;
  }
}

@for $i from 1 through 100 {
  .ps-border-radius-pc-#{$i} {
    border-radius: #{$i}+'%' !important;
  }
}

@each $value in $border-style {
  .ps-border-style-#{$value} {
    border-style: #{$value} !important;
  }
}

@each $name, $color in $border-colors {
  .ps-border-color-#{$name} {
    border-color: $color !important;
  }

  .ps-border-color-hover-#{$name}:hover {
    border-color: $color !important;
  }
}

.ps-border-none {
  border: none !important;
}

.ps-outline-none {
  outline: none !important;
}
