@use './colors' as colors;
$border-style: 'dashed', 'solid';
$directions: top, right, left, bottom;
$border-colors: (
  'gray': colors.$gray-color,
  'f39c12': colors.$primary-color,
  '00a8ff': colors.$menu-item-active-color,
  'black': colors.$black-color,
);

@for $i from 1 through 5 {
  .ps-border-width-#{$i} {
    border-width: #{$i}px !important;
  }

  @each $direction in $directions {
    .ps-border-width-#{$direction}-#{$i}{
      border-#{$direction}-width: #{$i}px !important;
    }

    .ps-border-#{$direction}-none {
      border-#{$direction}: none !important;
    }
  }
}

@for $i from 3 through 50 {
  .ps-border-radius-#{$i} {
    border-radius: #{$i}px !important;
  }
}

@for $i from 1 through 100 {
  .ps-border-radius-pc-#{$i} {
    border-radius: #{$i}+'%' !important;
  }
}

@each $value in $border-style {
  .ps-border-style-#{$value} {
    border-style: #{$value} !important;
  }

  @each $direction in $directions {
    .ps-border-style-#{$direction}-#{$value} {
      border-#{$direction}-style: #{$value} !important;
    }
  }
}

@each $name, $color in $border-colors {
  .ps-border-color-#{$name} {
    border-color: $color !important;
  }

  .ps-border-color-hover-#{$name}:hover {
    border-color: $color !important;
  }

  @each $direction in $directions {
    .ps-border-color-#{$direction}-#{$name} {
      border-#{$direction}-color: #{$color} !important;
    }
  }
}

.ps-border-none {
  border: none !important;
}

.ps-outline-none {
  outline: none !important;
}
