.ps-box-shadow-1 {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}

.ps-box-shadow-2 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}

.ps-box-shadow-3 {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px !important;
}
