$primary-color: #f39c12;
$menu-hover-color: #9b59b6;
$white-color: white;
$black-color: black;
$gray-color: gray;
$menu-item-active-color: #00a8ff;
$green-color: #2ecc71;
$label-color: #606266;
$danger-color: var(--el-color-danger);
$primary-sale-color: #eb2f06;
$layout-color: #ecf0f1;
$topChartColor: #48dbfb;
$middleChartColor: #0abde3;
$bottomChartColor: #54a0ff;
$capitalBorderColor: #EE5A24;
$profitLineColor: #FFC312;
$revenueLineColor: #C4E538;
