$primary-color: #f39c12;
$menu-hover-color: #9b59b6;
$white-color: white;
$black-color: black;
$gray-color: gray;
$menu-item-active-color: #00a8ff;
$green-color: #2ecc71;
$label-color: #606266;
$danger-color: var(--el-color-danger);
