@use './responsive' as responsive;

@include responsive.mobile {
  .ps-flex-direction-mobile-column {
    flex-direction: column !important;
  }

  .ps-flex-direction-mobile-row {
    flex-direction: row !important;
  }

  .ps-justify-content-mobile-space-between {
    justify-content: space-between !important;
  }

  .ps-align-items-mobile-center {
    align-items: center !important;
  }
}

@include responsive.tablet {
  .ps-flex-direction-tablet-column {
    flex-direction: column !important;
  }

  .ps-flex-direction-tablet-row {
    flex-direction: row !important;
  }

  .ps-justify-content-tablet-space-between {
    justify-content: space-between !important;
  }

  .ps-align-items-tablet-center {
    align-items: center !important;
  }
}

@include responsive.large-tablet {
  .ps-flex-direction-large-tablet-column {
    flex-direction: column !important;
  }

  .ps-flex-direction-large-tablet-row {
    flex-direction: row !important;
  }

  .ps-justify-content-large-tablet-space-between {
    justify-content: space-between !important;
  }

  .ps-align-items-large-tablet-center {
    align-items: center !important;
  }
}

@include responsive.desktop {
  .ps-flex-direction-desktop-column {
    flex-direction: column !important;
  }

  .ps-flex-direction-desktop-row {
    flex-direction: row !important;
  }

  .ps-justify-content-desktop-space-between {
    justify-content: space-between !important;
  }

  .ps-align-items-desktop-center {
    align-items: center !important;
  }
}

.ps-flex-direction-column {
  flex-direction: column !important;
}

.ps-flex-direction-row {
  flex-direction: row !important;
}

.ps-justify-content-space-between {
  justify-content: space-between !important;
}

.ps-justify-content-center {
  justify-content: center !important;
}

.ps-align-items-center {
  align-items: center !important;
}

.ps-flex-wrap {
  flex-wrap: wrap !important;
}

.ps-flex-nowrap {
  flex-wrap: nowrap !important;
}

@for $gap from 1 through 10 {
  .ps-flex-gap-#{$gap} {
    gap: #{$gap}px !important
  }
}

@for $grow from 0 through 10 {
  .ps-flex-grow-#{$grow} {
    flex-grow: #{$grow} !important;
  }
}
