.ps-flex-direction-column {
  flex-direction: column !important;
}

.ps-justify-content-space-between {
  justify-content: space-between !important;
}

.ps-justify-content-center {
  justify-content: center !important;
}

.ps-align-items-center {
  align-items: center !important;
}
