$mobile: getResponsiveBreakpoint(MOBILE);
$tablet: getResponsiveBreakpoint(TABLET);
$large-tablet: getResponsiveBreakpoint(LARGE_TABLET);
$desktop: getResponsiveBreakpoint(DESKTOP);

@mixin mobile {
  @media screen and (min-width: $mobile) and (max-width: $tablet) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet) and (max-width: $large-tablet) {
    @content;
  }
}

@mixin large-tablet {
  @media screen and (min-width: $large-tablet) and (max-width: $desktop) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}
