@use './colors' as colors;

.ps-text-color-white {
  color: colors.$white-color !important;

  &>* {
    color: colors.$white-color !important;
  }
}

.ps-fw-bold {
  font-weight: bold !important;

  &>* {
    font-weight: bold !important;
  }
}

.ps-text-align-center {
  text-align: center !important;
}

@for $i from 1 through 5 {
  .ps-text-truncate-#{$i} {
    display: -webkit-box;
    -webkit-line-clamp: #{$i};
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.ps-text-transform-capitalize {
  text-transform: capitalize !important;
}
