@use './colors' as colors;

$text-colors: ("white": colors.$white-color, "606266": colors.$label-color, "00a8ff": colors.$menu-item-active-color);

@each $name, $color in $text-colors {
  .ps-text-color-#{$name} {
    color: $color !important;

    &>* {
      color: $color !important;
    }
  }
}

.ps-fw-bold {
  font-weight: bold !important;

  &>* {
    font-weight: bold !important;
  }
}

.ps-text-align-center {
  text-align: center !important;
}

.ps-text-align-end {
  text-align: end !important;
}

@for $i from 1 through 5 {
  .ps-text-truncate-#{$i} {
    display: -webkit-box;
    -webkit-line-clamp: #{$i};
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.ps-text-transform-capitalize {
  text-transform: capitalize !important;
}

.ps-text-transform-uppercase {
  text-transform: uppercase !important;
}

.ps-text-transform-lowercase {
  text-transform: lowercase !important;
}

.ps-text-decorator-none {
  text-decoration: none !important;
}
