@use './colors' as colors;
@use './responsive' as responsive;

$text-colors: (
  'white': colors.$white-color,
  'black': colors.$black-color,
  '606266': colors.$label-color,
  '00a8ff': colors.$menu-item-active-color,
  'f56c6c': colors.$danger-color,
  'eb2f06': colors.$primary-sale-color,
);

@each $name, $color in $text-colors {
  .ps-text-color-#{$name} {
    color: $color !important;

    &>* {
      color: $color !important;
    }
  }

  .ps-text-color-#{$name}-hover:hover {
    color: $color !important;

    &>* {
      color: $color !important;
    }
  }

  .ps-text-color-#{$name}-disabled:disabled {
    color: $color !important;

    &>* {
      color: $color !important;
    }
  }
}

@for $i from 0 through 20 {
  .ps-line-height-#{$i} {
    line-height: #{$i}px !important;
  }
}

.ps-fw-bold {
  font-weight: bold !important;

  &>* {
    font-weight: bold !important;
  }
}

.ps-text-align-center {
  text-align: center !important;
}

.ps-text-align-end {
  text-align: end !important;
}

@for $i from 1 through 5 {
  .ps-text-truncate-#{$i} {
    display: -webkit-box;
    -webkit-line-clamp: #{$i};
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@for $i from 9 through 40 {
  .ps-fs-#{$i} {
    font-size: #{$i}px !important;
  }

  @include responsive.mobile {
    .ps-fs-mobile-#{$i} {
      font-size: #{$i}px !important;
    }
  }
}

.ps-text-transform-capitalize {
  text-transform: capitalize !important;
}

.ps-text-transform-uppercase {
  text-transform: uppercase !important;
}

.ps-text-transform-lowercase {
  text-transform: lowercase !important;
}

.ps-text-decorator-none {
  text-decoration: none !important;
}

.ps-text-style-italic {
  font-style: italic !important;
}
