@use '@/assets/scss/_utils.scss';
@use '@/assets/scss/_background.scss';
@use '@/assets/scss/_text.scss';
@use '@/assets/scss/_border.scss';
@use '@/assets/scss/_flex.scss';
@use './colors' as colors;
@import url(./_fonts.scss);

*,
*::before,
*::after {
  font-family: OpenSansRegular;
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

.ps-margin-auto {
  margin: auto !important;
}

.ps-list-style-none {
  list-style: none;
}

.ps-cursor-pointer {
  cursor: pointer;
}
