@use '@/assets/scss/_utils.scss';
@use '@/assets/scss/_background.scss';
@use '@/assets/scss/_text.scss';
@use '@/assets/scss/_border.scss';
@use '@/assets/scss/_flex.scss';
@use '@/assets/scss/_float.scss';
@use '@/assets/scss/_position.scss';
@use '@/assets/scss/_box-shadow.scss';
@use '@/assets/scss/_overflow.scss';
@use './colors' as colors;
@import url(./_fonts.scss);

*,
*::before,
*::after {
  font-family: OpenSansRegular;
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

.ps-list-style-none {
  list-style: none;
}

.ps-cursor-pointer {
  cursor: pointer;
}

.ps-unselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ps-hover-scale {
  transition: .2s !important;

  &:hover {
    scale: 1.1 !important;
  }
}
