@use './colors' as colors;

:export {
  primaryColor: colors.$primary-color;
  whiteColor: colors.$white-color;
  menuItemActiveColor: colors.$menu-item-active-color;
  dangerColor: colors.$danger-color;
  grayColor: colors.$gray-color;
  topChartColor: colors.$topChartColor;
  middleChartColor: colors.$middleChartColor;
  bottomChartColor: colors.$bottomChartColor;
  capitalBorderColor: colors.$capitalBorderColor;
  profitLineColor: colors.$profitLineColor;
  revenueLineColor: colors.$revenueLineColor;
}
